@import "tailwindcss";
.btn{
  @apply cursor-pointer px-5 py-3 text-lg font-medium outline-none rounded-lg text-white bg-pink-500  ;
}
.modified-button
  {
  @apply cursor-pointer px-5 py-3 text-lg font-medium outline-none rounded-lg text-black bg-gray-300 hover:bg-pink-500 hover:text-white ;
}
.general-btn{
    @apply cursor-pointer px-5 py-3 text-lg font-medium outline-none rounded-lg text-white bg-pink-500  hover:bg-gray-300 hover:text-black;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
